.dark-theme {
  --color--diary: var(--color--primary-light-70);
  --color--media--outline: var(--color--secondary-main);
}

.light-theme {
  --color--diary: var(--color--primary-dark-40);
  --color--media--outline: var(--color--tertiary-main);
}

.user-profile__tab {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.user-profile__tab .left-side {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  width: 100%;
}

.favorite-media > .section-content,
.recent-activity > .section-content {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.recent-reviews > .section-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}

.user-profile__tab .right-side {
  width: fit-content;
  gap: 30px;
}

.right-side .diary .section-content {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: fit-content;
}

.right-side .diary .left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.right-side .diary .left-column svg {
  color: var(--color--diary);
  height: 60px;
  width: 60px;
}

.right-side .diary .right-column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: fit-content;
}

.right-side .diary .right-column > p {
  --font: clamp(11px, 1.2rem, 12px) var(--font--graphik-semibold);
  align-items: center;
  color: var(--color--diary);
  display: flex;
  font: var(--font);
  gap: 10px;
  justify-content: flex-start;
  text-wrap: nowrap;
  width: fit-content;
}

.right-side .diary .right-column > p span:first-of-type {
  font-family: var(--font--graphik-regular);
}

@media (width <= 1454px) {
  .left-column {
    display: none !important;
  }
}

@media (width <= 1352px) {
  .favorite-media > .section-content .media-slot .media-slot__poster,
  .recent-activity > .section-content .media-slot .media-slot__poster,
  .media-slot__placeholder.normal {
    height: var(--media-slot--medium--height) !important;
    width: var(--media-slot--medium--width) !important;
  }
}

@media (width <= 978px) {
  .right-side {
    display: none;
  }
}

@media (width <= 638px) {
  .favorite-media > .section-content,
  .recent-activity > .section-content {
    gap: 10px;
    justify-content: flex-start;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100%;
  }
}
