.dark-theme {
  --color--button--highlighted__bg--hover: var(--color--secondary-dark-20);
  --color--button--highlighted__bg: var(--color--secondary-main);
}

.light-theme {
  --color--button--highlighted__bg--hover: var(--color--tertiary-dark-20);
  --color--button--highlighted__bg: var(--color--tertiary-main);
}

.button--general {
  --font: clamp(11px, 1.2rem, 14px) var(--font--graphik-semibold);
  align-items: center;
  background-color: var(--color--primary-light-10);
  border-radius: 2px;
  border: none;
  color: var(--color--primary-light-80);
  cursor: pointer;
  display: flex;
  font: var(--font);
  justify-content: center;
  padding: 5px 10px;
  text-transform: uppercase;
}

.button--general:hover {
  background-color: var(--color--primary-main);
}

.button--general.highlighted {
  background-color: var(--color--button--highlighted__bg);
}

.button--general.highlighted:hover {
  background-color: var(--color--button--highlighted__bg--hover);
}

.button--general.following {
  background-color: #00ac1c;
  color: var(--color--primary-light-90);
}

.button--general.unfollow {
  background-color: var(--color--secondary-main);
}
