.dark-theme {
  --color--divider--bg: var(--color--primary-dark-30);
}

.light-theme {
  --color--divider--bg: var(--color--primary-light-50);
}

.divider {
  background-color: var(--color--divider--bg);
  height: 1px;
  width: 100%;
}
