.dark-theme {
  --color--background: var(--color--primary-dark-20);
  --color--main-link--hover: var(--color--primary-light-30);
  --color--main-link: var(--color--primary-light-60);
  --color--social-icon--copyright--hover: var(--color--primary-light-10);
  --color--social-icon--copyright: var(--color--primary-light-40);
}

.light-theme {
  --color--background: var(--color--primary-light-70);
  --color--main-link--hover: var(--color--primary-light-20);
  --color--main-link: var(--color--primary-main);
  --color--social-icon--copyright--hover: var(--color--primary-dark-10);
  --color--social-icon--copyright: var(--color--primary-light-30);
}

footer {
  align-items: center;
  background-color: var(--color--background);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  justify-content: flex-start;
  padding-block: 2rem 6rem;
  padding-inline: var(--padding-inline--global);
  width: 100%;
}

.footer--top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer--top--main-links {
  align-items: center;
  display: flex;
  gap: 1.8rem;
  justify-content: left;
}

.footer--top--main-links h5 {
  --font: 1.65rem var(--font--graphik-semibold);
  color: var(--color--main-link);
  cursor: pointer;
  font: var(--font);
  transition: .1s;
}

.footer--top--main-links h5:hover {
  color: var(--color--main-link--hover);
}

.footer--top--socials {
  align-items: center;
  display: flex;
  gap: .5rem;
  justify-content: right;
}

.footer--top--socials svg {
  color: var(--color--social-icon--copyright);
  height: 1.9rem;
  transition: .1s;
  width: 1.9rem;
}

.footer--top--socials svg:hover {
  color: var(--color--social-icon--copyright--hover);
}

.footer--top--socials * {
  cursor: pointer;
}

.footer--bottom {
  align-items: center;
  display: flex;
  gap: .5rem;
  justify-content: left;
  width: 100%;
}

.footer--bottom * {
  color: var(--color--social-icon--copyright);
}

.footer--bottom--copyright-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.footer--bottom p {
  --font: 1.2rem var(--font--graphik-regular);
  font: var(--font);
}
