.dark-theme {
  --color--drop-shadow: var(--color--primary-light-90--main-action-button--drop-shadow);
  --color--primary-light-90--main-action-button--drop-shadow: rgba(236, 238, 240, .5);
}

.light-theme {
  --color--drop-shadow: var(--color--primary-dark-90--main-action-button--drop-shadow);
  --color--primary-dark-90--main-action-button--drop-shadow: rgba(7, 8, 10, .5);
}

.main-actions-buttons {
  align-items: center;
  display: flex;
  gap: 10px;
  position: fixed;
  right: 10dvw;
  top: 87dvh;
  transition: .05s;
  z-index: 3;
}

.main-action-button {
  align-items: center;
  background-color: var(--color--accent-main);
  border-radius: 17px;
  border: none;
  box-shadow: 0 1px 3px var(--color--drop-shadow);
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 10px;
  transition: .2s;
  width: 50px;
}

.main-action-button:hover {
  background-color: var(--color--accent-dark-10);
}

.main-action-button:active {
  transform: scale(.9);
}

.main-action-button * {
  cursor: pointer;
}

.main-action-button__icon {
  color: var(--color--primary-dark-90);
  height: 100%;
  width: 100%;
}

@media (width <= 1840px) {
  .main-actions-buttons {
    top: 93vh
  }
}

@media (width <= 1420px) {
  .main-actions-buttons {
    right: 5vw;
  }

  .main-action-button {
    height: 40px;
    width: 40px;
    padding: 7px;
    border-radius: 14px;
  }
}

@media (width <= 1160px) {
  .main-actions-buttons {
    right: 2vw;
  }
}

@media (width <= 520px) {
  .main-actions-buttons {
    z-index: 2;
  }
}
