.dark-theme {
  --color--media--outline: var(--color--secondary-main);
  --color--already-watched--and--review-with-text: var(--color--primary-main);
  --color--placeholder--border: var(--color--primary-light-10);
  --shadow--star-icon: var(--color--primary-light-80);
}

.light-theme {
  --color--already-watched--and--review-with-text: var(--color--primary-main);
  --color--media--outline: var(--color--tertiary-main);
  --color--placeholder--border: var(--color--primary-dark-10);
  --shadow--star-icon: var(--color--primary-dark-70);
}

.media-slot {
  --color--log-info--user: var(--color--primary-main);
  --color--username: var(--color--primary-light-70);
  --font--username: 1.3rem var(--font--graphik-semibold);
}

.media-slot__poster {
  background: center / cover;
  border-radius: 3px;
  cursor: pointer;
  transition: .04s;
  z-index: 2;
}

.media-slot__poster * {
  cursor: pointer;
}

.media-slot:hover .media-slot__poster {
  border-radius: 3px;
  outline: 5px solid var(--color--media--outline);
}

.media-slot__link, .media-slot__link *{
  cursor: pointer;
}

.media-slot__poster.media-slot__poster--sharp-border {
  border-radius: 3px 3px 0 0;
}

.media-slot--small {
  height: var(--media-slot--small--height);
  position: relative;
  width: var(--media-slot--small--width);
}

.media-slot--medium {
  height: var(--media-slot--medium--height);
  position: relative;
  width: var(--media-slot--medium--width);
}

.media-slot--normal {
  height: var(--media-slot--normal--height);
  position: relative;
  width: var(--media-slot--normal--width);
}

.media-slot--large {
  height: var(--media-slot--large--height);
  position: relative;
  width: var(--media-slot--large--width);
}

.media-slot__placeholder {
  border: 1px solid var(--color--placeholder--border);
  border-radius: 3px;
}

.media-slot__placeholder.small {
  height: var(--media-slot--small--height);
  width: var(--media-slot--small--width);
}

.media-slot__placeholder.medium {
  height: var(--media-slot--medium--height);
  width: var(--media-slot--medium--width);
}

.media-slot__placeholder.normal {
  height: var(--media-slot--normal--height);
  width: var(--media-slot--normal--width);
}

.media-slot__placeholder.large {
  height: var(--media-slot--large--height);
  width: var(--media-slot--large--width);
}

.media-slot--small *, .media-slot--medium *, .media-slot--normal *, .media-slot--large * {
  height: 100%;
  position: absolute;
  width: 100%;
}

.media-slot__log-info {
  align-items: left;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}

.media-slot__user {
  align-items: center;
  background-color: var(--color--log-info--user);
  border-radius: 0 0 1px 1px;
  display: flex;
  gap: 5px;
  padding: 5px;
}

.media-slot__avatar {
  background: center / cover;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.media-slot__username {
  color: var(--color--username);
  font: var(--font--username);
}

.log__details {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.log__details.with-margin {
  margin-top: 5px;
}

.log__left-side {
  display: flex;
  justify-content: left;
}

.media-slot__stars svg, .log__watched-before svg, .log__review-text svg {
  height: 18px;
  width: 18px;
}

.media-slot__stars {
  color: var(--color--accent-main);
}

.media-slot__stars svg {
  filter: drop-shadow(0 1px 1px var(--shadow--star-icon));
}

.log__watched-before svg, .log__review-text svg {
  color: var(--color--already-watched--and--review-with-text);
}

.log__right-side {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.log__date {
  color: var(--color--primary-light-20);
  --font: 1.3rem var(--font--graphik-regular);
  font: var(--font);
  text-align: right;
}
