.dark-theme {
  --color--already-watched--and--review-with-text: var(--color--primary-main);
  --shadow--star-icon: var(--color--primary-light-80);
}

.light-theme {
  --color--already-watched--and--review-with-text: var(--color--primary-main);
  --shadow--star-icon: var(--color--primary-dark-70);
}

.media-slot {
  --color--log-info--user: var(--color--primary-main);
  --color--username: var(--color--primary-light-70);
  --font--username: 1.3rem var(--font--graphik-semibold);
}

.media-slot--poster {
  background: center / cover;
  border-radius: 3px;
}

.media-slot--poster.media-slot--poster--sharp-border {
  border-radius: 3px 3px 0 0;
}

.media-slot--small {
  height: var(--media-slot--small--height);
  position: relative;
  width: var(--media-slot--small--width);
}

.media-slot--medium {
  height: var(--media-slot--medium--height);
  position: relative;
  width: var(--media-slot--medium--width);
}

.media-slot--normal {
  height: var(--media-slot--normal--height);
  position: relative;
  width: var(--media-slot--normal--width);
}

.media-slot--large {
  height: var(--media-slot--large--height);
  position: relative;
  width: var(--media-slot--large--width);
}

.media-slot--small *, .media-slot--medium *, .media-slot--normal *, .media-slot--large * {
  height: 100%;
  position: absolute;
  width: 100%;
}

.media-slot--log-info {
  align-items: left;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}

.media-slot--log-info--user {
  align-items: center;
  background-color: var(--color--log-info--user);
  border-radius: 0 0 1px 1px;
  display: flex;
  gap: 5px;
  padding: 5px;
}

.media-slot--log-info--user--avatar {
  background: center / cover;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.media-slot--log-info--user--username {
  color: var(--color--username);
  font: var(--font--username);
}

.media-slot--log-info--details {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.media-slot--log-info--details--left-side {
  display: flex;
  justify-content: left;
}

.media-slot--log-info--details--stars svg, .media-slot--log-info--details--left-side--watched-before svg, .media-slot--log-info--details--left-side--review-text svg {
  height: 18px;
  width: 18px;
}

.media-slot--log-info--details--stars {
  color: var(--color--accent-main);
}

.media-slot--log-info--details--stars svg {
  filter: drop-shadow(0 1px 1px var(--shadow--star-icon));
}

.media-slot--log-info--details--left-side--watched-before svg, .media-slot--log-info--details--left-side--review-text svg {
  color: var(--color--already-watched--and--review-with-text);
}

.media-slot--log-info--details--right-side {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.media-slot--log-info--details--right-side--date {
  color: var(--color--primary-light-20);
  --font: 1.3rem var(--font--graphik-regular);
  font: var(--font);
  text-align: right;
}
