.dark-theme {
  --color--poster--outline: var(--color--secondary-main);
  --color--review--details--like: var(--color--primary-light-60);
  --color--review--details--main-info--title: var(--color--primary-light-90);
  --color--review--details--main-info--year: var(--color--primary-light-40);
  --color--review--details--review-text: var(--color--primary-light-80);
  --color--review--details--username: var(--color--primary-light-40);
  --color--review--details--watched-before: var(--color--primary-light-40);
  --color--review--without-poster__details: var(--color--primary-light-70);
  --shadow--star-icon: var(--color--primary-light-80);
}

.light-theme {
  --color--poster--outline: var(--color--tertiary-main);
  --color--review--details--like: var(--color--primary-dark-20);
  --color--review--details--main-info--title: var(--color--primary-dark-40);
  --color--review--details--main-info--year: var(--color--primary-dark-10);
  --color--review--details--review-text: var(--color--primary-dark-40);
  --color--review--details--username: var(--color--primary-dark-40);
  --color--review--details--watched-before: var(--color--primary-dark-10);
  --color--review--without-poster__details: var(--color--primary-dark-40);
  --shadow--star-icon: var(--color--primary-dark-70);
}

.review--without-poster,
.horizontal-review--type-1 {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  width: 100%;
}

.horizontal-review--type-1 .media-slot {
  transition: .04s;
}

.horizontal-review--type-1 .media-slot:hover {
  border-radius: 3px;
  outline: 5px solid var(--color--poster--outline);
}

.horizontal-review--type-1 .media-slot:active {
  transform: scale(.9);
}

.horizontal-review--type-1 .media-slot * {
  cursor: pointer;
}

.review--without-poster__avatar {
  background: center / cover;
  border-radius: 50%;
  cursor: pointer;
  height: 37px;
  width: 37px;
}

.review--without-poster__details,
.horizontal-review--type-1__details {
  align-items: flex-start;
  color: var(--color--review--without-poster__details);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.review--without-poster__details svg,
.horizontal-review--type-1__details svg {
  height: 14px;
  width: 14px;
}

.horizontal-review--type-1__main-info {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-start;
}

.horizontal-review--type-1__main-info h5 {
  --font: clamp(10px, 2.4rem, 30px) var(--font--tiempos-headline-semibold);
  color: var(--color--review--details--main-info--title);
  cursor: pointer;
  font: var(--font);
  transition: .1s;
}

.horizontal-review--type-1__main-info h6 {
  --font: clamp(10px, 1.8rem, 22px) var(--font--graphik-light);
  color: var(--color--review--details--main-info--year);
  cursor: pointer;
  font: var(--font);
  transition: .1s;
}

.review--without-poster__user-rating-comments,
.horizontal-review--type-1__user-rating-comments {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-start;
}

.horizontal-review--type-1__avatar-username {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
}

.horizontal-review--type-1__avatar {
  background: center / cover;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  width: 28px;
}

.review--without-poster__user,
.horizontal-review--type-1__username {
  --font: clamp(10px, 1.4rem, 16px) var(--font--graphik-light);
  color: var(--color--review--details--username);
  font: var(--font);
}

.review--without-poster__user span,
.horizontal-review--type-1__username {
  cursor: pointer;
  font-family: var(--font--graphik-semibold);
}

.review--without-poster__rating,
.horizontal-review--type-1__rating {
  align-items: center;
  color: var(--color--accent-main);
  display: flex;
  gap: 2px;
}

.review--without-poster__rating svg,
.horizontal-review--type-1__rating svg {
  filter: drop-shadow(0 1px 1px var(--shadow--star-icon));
}

.review--without-poster__comments,
.horizontal-review--type-1__comments {
  --font: clamp(10px, 1.1rem, 14px) var(--font--graphik-light);
  align-items: center;
  display: flex;
  font: var(--font);
  gap: 2px;
  justify-content: flex-start;
}

.review--without-poster__text,
.horizontal-review--type-1__details--text {
  --font: clamp(10px, 1.4rem, 16px) var(--font--tiempos-headline-regular);
  cursor: text;
  font: var(--font);
  line-height: 1.5;
  max-width: 100%;
  overflow-wrap: anywhere !important;
  overflow-wrap: break-word;
  text-wrap: wrap;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
}

.review--without-poster__likes {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
}

.horizontal-review--type-1__likes {
  align-items: center;
  display: flex;
  gap: 2px;
  justify-content: flex-start;
}

.review--without-poster__likes span {
  display: flex;
  gap: 2px;
  justify-content: flex-start;
  align-items: center;
}

.review--without-poster__likes .action, 
.review--without-poster__likes .count {
  font-size: clamp(10px, 1.2rem, 15px);
}

.review--without-poster__likes .action,
.horizontal-review--type-1__likes {
  font-family: var(--font--graphik-medium);
}

.review--without-poster__likes .action * {
  cursor: pointer;
}

.review--without-poster__likes .count {
  font-family: var(--font--graphik-light);
}

/* -------------------------------------------------------- */

.horizontal-review--type-2 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  width: 100%;
}

.horizontal-review--type-2__details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  width: 100%;
}

.horizontal-review--type-2__main-info {
  align-items: baseline;
  display: flex;
  gap: 3px;
  justify-content: flex-start;
  width: 100%;
}

.horizontal-review--type-2__main-info h5 {
  --font: clamp(18px, 2.1rem, 22px) var(--font--tiempos-headline-bold) !important;
  color: var(--color--review--details--main-info--title);
  font: var(--font);
}

.horizontal-review--type-2__main-info h6 {
  --font: clamp(15px, 1.7rem, 19px) var(--font--graphik-light) !important;
  color: var(--color--review--details--main-info--year);
  font: var(--font);
}

.horizontal-review--type-2__rating-and-watched-before {
  align-items: baseline;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
}

.horizontal-review--type-2__rating {
  align-items: center;
  color: var(--color--accent-main);
  display: flex;
  gap: 2px;
  justify-content: flex-start;
}

.horizontal-review--type-2__rating svg {
  filter: drop-shadow(0 1px 1px var(--shadow--star-icon));
  height: 15px;
  width: 15px;
}

.horizontal-review--type-2__watched-before {
  --font: clamp(10px, 1.4rem, 16px) var(--font--graphik-light);
  color: var(--color--review--details--watched-before);
  font: var(--font);
}

.horizontal-review--type-2__text {
  --font: clamp(10px, 1.5rem, 17px) var(--font--tiempos-headline-regular);
  color: var(--color--review--details--review-text);
  font: var(--font);
  line-height: 1.5;
  max-width: 100%;
  overflow-wrap: anywhere !important;
  overflow-wrap: break-word;
  text-wrap: wrap;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
}

.horizontal-review--type-2__like,
.horizontal-review--type-2__like-count {
  --font: clamp(10px, 1.5rem, 17px) var(--font--graphik-regular);
  align-items: baseline;
  color: var(--color--review--details--like);
  display: flex;
  font: var(--font);
  gap: 10px;
  justify-content: flex-start;
}

.horizontal-review--type-2__like-count span:first-of-type {
  cursor: pointer;
  font-family: var(--font--graphik-medium);
}

.horizontal-review--type-2__like-count svg {
  cursor: pointer;
  height: 14px;
  width: 14px;
}

.horizontal-review--type-2__like-count svg * {
  cursor: pointer;
}

@media (width <= 1248px) {
  .horizontal-review--type-1 .media-slot:hover {
    outline: none;
  }
}

@media (width <= 1100px) {
  .horizontal-review--type-1__main-info h5 {
    font-size: clamp(10px, 2rem, 22px);
  }

  .horizontal-review--type-1__main-info h6 {
    font-size: clamp(10px, 1.6rem, 20px);
  }
}

@media (width <= 1000px) {
  .horizontal-review--type-1__main-info h5 {
    font-size: clamp(10px, 1.8rem, 20px);
  }

  .horizontal-review--type-1__main-info h6 {
    font-size: clamp(10px, 1.4rem, 16px);
  }
}

@media (width <= 690px) {
  .horizontal-review--type-1__main-info h5 {
    font-size: clamp(10px, 1.6rem, 18px);
  }

  .horizontal-review--type-1__main-info h6 {
    font-size: clamp(10px, 1.2rem, 14px);
  }

  .horizontal-review--type-1__username {
    font-size: clamp(10px, 1.2rem, 14px);
  }
}

@media (width <= 450px) {
  .horizontal-review--type-2__main-info h5 {
    font-size: clamp(10px, 1.4rem, 16px);
  }

  .horizontal-review--type-2__main-info h6 {
    font-size: clamp(10px, 1.2rem, 14px);
  }

  .horizontal-review--type-2__like-count {
    font-size: clamp(10px, 1.2rem, 14px);
  }

  .horizontal-review--type-2__like-count svg {
    height: 12px;
    width: 12px;
  }
}

@media (width <= 402px) {
  .horizontal-review--type-2__rating-and-watched-before {
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
}
