.dark-theme {
  --color--icons--and--text--hover: var(--color--primary-light-40);
  --color--icons--and--text: var(--color--primary-light-80);
  --color--side-menu__button: var(--color--primary-light-80);
  --color--side-menu__divider: var(--color--primary-dark-30);
  --color--side-menu__overlay: rgba(7, 8, 10, .7);
  --color--side-menu--bg: var(--color--primary-dark-70);
  --color--side-menu--close-button--bg: var(--color--secondary-main);
  --color--user-avatar--shadow: rgba(218, 221, 224, .5);

}

.light-theme {
  --color--icons--and--text--hover: var(--color--primary-light-10);
  --color--icons--and--text: var(--color--primary-dark-70);
  --color--side-menu__button: var(--color--primary-dark-70);
  --color--side-menu__divider: var(--color--primary-light-50);
  --color--side-menu__overlay: rgba(236, 238, 240, .7);
  --color--side-menu--bg: var(--color--primary-light-80);
  --color--side-menu--close-button--bg: var(--color--tertiary-main);
  --color--user-avatar--shadow: rgba(20, 25, 31, .5);
}

.side-menu__button {
  align-items: center;
  color: var(--color--side-menu__button);
  cursor: pointer;
  display: none;
  height: 50px;
  justify-content: center;
  left: 2%;
  position: fixed;
  top: 5%;
  width: 50px;
  z-index: 5;
}

.side-menu__button svg {
  height: 100%;
  width: 100%;
}

.side-menu__overlay {
  background-color: var(--color--side-menu__overlay);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: .2s;
  width: 100vw;
  z-index: -1;
}

.side-menu__overlay.active {
  opacity: 1;
  z-index: 6;
}

.side-menu {
  --size--icons--expanded: 30px;
  --size--icons--not-expanded: 25px;
  align-items: center;
  background-color: var(--color--side-menu--bg);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  left: 0;
  padding-bottom: 15px;
  padding-inline: 5px;
  position: fixed;
  top: 0;
  transition: .3s;
  width: 4vw;
  z-index: 7;
}

.side-menu--expanded {
  align-items: flex-start;
  padding-inline: 25px 30px;
  width: fit-content;
}

.side-menu--close-button {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background-color: var(--color--side-menu--close-button--bg);
  color: var(--color--primary-light-90);
  top: 0;
  right: 0;
}

.side-menu__user, .side-menu__option {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.side-menu__option {
  width: 100%;
}

.side-menu__user {
  gap: 15px;
  text-decoration: none !important;
}

.side-menu__user span, .side-menu__option span {
  color: var(--color--icons--and--text);
  cursor: pointer;
  transition: .15s;
}

.side-menu__user:hover span,
.side-menu__option:hover svg,
.side-menu__option:hover span {
  color: var(--color--icons--and--text--hover);
}

.side-menu__avatar {
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0 2px 5px var(--color--user-avatar--shadow));
  transition: .3s;
}

.side-menu.side-menu--expanded .side-menu__avatar {
  height: 80px;
  width: 80px;
}

.side-menu__user span {
  --font: clamp(28px, 3rem, 31px) var(--font--tiempos-headline-bold);
  font: var(--font);
  overflow: hidden;
  text-decoration: none !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 205px;
}

.side-menu__divider {
  background-color: var(--color--side-menu__divider);
  height: 1px;
  transition: .3s;
  width: 40%;
}

.side-menu.side-menu--expanded .side-menu__divider {
  width: 100%;
}

.side-menu__option span {
  --font: clamp(16px, 1.6rem, 16px) var(--font--graphik-medium);
  font: var(--font);
}

.side-menu__text {
  left: calc(var(--size--icons--expanded) + 10px);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  text-wrap: nowrap;
  transform: translateX(50%);
}

.side-menu__text.expanded {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.side-menu__main-actions,
.side-menu__tabs,
.side-menu__options {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  position: relative;
}

.side-menu__main-actions svg,
.side-menu__tabs svg,
.side-menu__options svg {
  color: var(--color--icons--and--text);
  cursor: pointer;
  height: var(--size--icons--not-expanded);
  transition: .3s;
  width: var(--size--icons--not-expanded);
}

.side-menu__main-actions svg *,
.side-menu__tabs svg *,
.side-menu__options svg * {
  cursor: pointer;
}

.side-menu.side-menu--expanded .side-menu__main-actions svg,
.side-menu.side-menu--expanded .side-menu__tabs svg,
.side-menu.side-menu--expanded .side-menu__options svg {
  height: var(--size--icons--expanded);
  width: var(--size--icons--expanded);
}

@media (width <= 1580px) {
  .side-menu {
    --size--icons--expanded: 25px;
    --size--icons--not-expanded: 20px;
  }

  .side-menu__avatar {
    height: 40px;
    width: 40px;
  }
}

@media (width <= 1160px) {
  .side-menu__button {
    display: flex;
  }

  .side-menu {
    transform: translateX(-300%);
  }

  .side-menu.active {
    transform: translateX(0);
  }

  .side-menu--expanded {
    width: fit-content;
  }
}

@media (width <= 456px) {
  .side-menu--expanded {
    width: 100%;
  }

  .side-menu--close-button {
    display: flex;
  }
}

@media (width <= 424px) {
  .side-menu__button {
    height: 40px;
    width: 40px;
  }
}

@media (width <= 374px) {
  .side-menu__user span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
  }
}

@media (height <= 768px) {
  .side-menu__main-actions,
  .side-menu__tabs,
  .side-menu__options {
    gap: 30px;
  }
}
