.dark-theme {
  --color--backdrop-edges: var(--color--primary-dark-70);
  --color--media-title: var(--color--primary-light-40);
}

.light-theme {
  --color--backdrop-edges: var(--color--primary-light-80);
  --color--media-title: var(--color--primary-dark-40);
}

.backdrop--wrapper {
  background: center / cover;
  box-shadow: 0 -100px 10px 20px var(--color--backdrop-edges) inset;
  height: 70vh;
  padding-inline: 2% 3.5%;
  position: relative;
  width: 102%;
}

.backdrop--media-title {
  --font: 1.3rem var(--font--graphik-regular);
  color: var(--color--media-title);
  cursor: pointer;
  font: var(--font);
  position: absolute;
  right: -50px;
  text-decoration: none;
  top: 50%;
  transform: rotate(-90deg);
}
