.dark-theme {
  --color--account-form--overlay: rgba(20, 25, 31, .5);
  --color--account-form-drop-shadow: rgba(236, 238, 240, .5);
}

.light-theme {
  --color--account-form--overlay: rgba(218, 221, 224, .5);
  --color--account-form-drop-shadow: rgba(7, 8, 10, .5);
}

.account-form {
  /* filter: drop-shadow(0 0 5px var(--color--account-form-drop-shadow)); */
  background-color: var(--color--primary-dark-20);
  border-radius: 2px;
  border: 1px solid var(--color--primary-dark-90);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  left: 50%;
  padding: 30px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .2s;
  width: fit-content;
  z-index: 9;
}

.account-form *::selection {
  background-color: var(--color--primary-light-90);
  color: var(--color--primary-main);
}

.account-form--close-button {
  background-color: var(--color--secondary-main);
  border-radius: 2px;
  color: var(--color--primary-dark-90);
  cursor: pointer;
  padding-inline: 7px;
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
}

.account-form--close-button * {
  cursor: pointer;
}

.signup-form, .login-form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.account-form--title {
  --font: clamp(14px, 3rem, 35px) var(--font--graphik-semibold);
  color: var(--color--primary-light-90);
  font: var(--font);
  transition: .2s;
  word-spacing: 3px;
}

.account-form--title span {
  --font: clamp(14px, 38rem, 42px) var(--font--grape-nuts);
  color: var(--color--secondary-main);
  font: var(--font);
}

.account-form--group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.account-form--group label {
  --font: clamp(10px, 1.5rem, 18px) var(--font--graphik-medium);
  color: var(--color--primary-light-70);
  cursor: pointer;
  font: var(--font);
  transition: .2s;
  width: fit-content;
}

.account-form--group input {
  --font: clamp(10px, 1.5rem, 18px) var(--font--graphik-regular);
  background-color: var(--color--primary-light-90);
  border-radius: 2px;
  border: none;
  color: var(--color--primary-dark-90);
  cursor: text;
  font: var(--font);
  outline: none;
  padding: 8px;
  transition: .1s;
  transition: .2s;
  width: 100%;
}

.account-form--group input:hover {
  background-color: var(--color--primary-light-80);
}

.account-form--group input::selection {
  background-color: var(--color--primary-main);
  color: var(--color--primary-light-90);
}

.character-counter {
  --font: clamp(8px, 1.2rem, 14px)  var(--font--grape-nuts);
  color: var(--color--primary-light-60);
  font-weight: bold !important;
  font: var(--font);
}

.account-form--submit {
  --font: clamp(10px, 1.5rem, 18px) var(--font--graphik-black);
  background-color: var(--color--secondary-main);
  border-radius: 4px;
  border: none;
  color: var(--color--primary-light-90);
  cursor: pointer;
  font: var(--font);
  letter-spacing: .5px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: .1s;
}

.account-form--submit:hover {
  background-color: var(--color--secondary-dark-10);
}

.account-form--overlay {
  background-color: var(--color--account-form--overlay);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 8;
}

@media (width <= 1184px) {
  .account-form--title {
    font-size: clamp(10px, 2.5rem, 26px);
  }
}

@media (width <= 1006px) {
  .account-form {
    width: 70%;
  }
}

@media (width <= 726px) {
  .account-form {
    width: 90%;
  }
}

@media (width <= 548px) {
  .account-form--title {
    font-size: clamp(10px, 2rem, 20px);
  }

  .account-form--title span {
    font-size: clamp(10px, 2.6rem, 26px);
  }

  .account-form--group label {
    font-size: clamp(9px, 1.2rem, 15px);
  }

  .account-form--submit {
    font-size: clamp(9px, 1.2rem, 15px);
  }
}
