.dark-theme {
  --color--header--contrast-bg: var(--color--primary-dark-70);
  --color--nav-link--hover: var(--color--primary-light-80);
  --color--nav-link: var(--color--primary-light-70);
}

.light-theme {
  --color--header--contrast-bg: var(--color--primary-light-80);
  --color--nav-link--hover: var(--color--primary-dark-10);
  --color--nav-link: var(--color--primary-dark-80);
}

header {
  align-items: center;
  display: flex;
  height: fit-content;
  justify-content: space-between;
}

header::before {
  background-image: linear-gradient(to bottom, var(--color--header--contrast-bg), transparent);
  content: '';
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

header * {
  z-index: 2;
}

.header--logo {
  align-items: center;
  display: flex;
  justify-content: left;
  text-decoration: none;
  width: fit-content;
}

.header--logo-image, .header--logo-text {
  cursor: pointer;
}

.header--logo-text {
  --font: 55px var(--font--grape-nuts);
  color: var(--color--secondary-main);
  font: var(--font);
}

/* ---------------------------------------------- */

.nav--links--search-bar {
  align-items: center;
  display: flex;
  gap: 15px;
  height: fit-content;
  justify-content: right;
}

.nav--links {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 100%;
  justify-content: center;
}

.nav--link {
  --font: clamp(10px, 1.4rem, 14px) var(--font--graphik-black);
  font: var(--font);
  list-style: none;
  text-transform: uppercase;
  transition: .05s;
}

.nav--link * {
  color: var(--color--nav-link);
  cursor: pointer;
  text-decoration: none;
  transition: .1s;
}

.nav--link *:hover {
  color: var(--color--nav-link--hover);
}

/* ---------------------------------------------- */

.nav--search-bar {
  align-items: center;
  display: flex;
  justify-content: right;
  position: relative;
}

.nav--search-bar * {
  transition: .2s;
}

.nav--search-bar input {
  --font: 1.4rem var(--font--graphik-regular);
  background-color: var(--color--neutral-dark-30);
  border-radius: 2rem;
  border: none;
  color: var(--color--neutral-light-90);
  cursor: text;
  font: var(--font);
  height: 26px;
  opacity: .6;
  padding: 3px 30px 3px 9px;
  width: 12rem;
}

.nav--search-bar input::-webkit-search-decoration,
.nav--search-bar input::-webkit-search-cancel-button,
.nav--search-bar input::-webkit-search-results-button,
.nav--search-bar input::-webkit-search-results-decoration {
  display: none;
}

.nav--search-bar input:hover {
  background-color: var(--color--neutral-light-60);
  color: var(--color--neutral-dark-30);
  opacity: 1;
}

.nav--search-bar button {
  background: none;
  border: none;
  height: 100%;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.nav--search-bar button * {
  color: var(--color--neutral-light-60);
  height: 18px;
  width: 25px;
}

.nav--search-bar input:hover + button * {
  color: var(--color--neutral-dark-30);
}
