<script src = '../scripts/components/new-releases.js'></script>

<link rel = 'stylesheet' href = '../styles/components/new-releases--dive-back-in--popular-in-plotscore.css' />

<article class = 'new-releases__slot'>
  <section class = 'poster poster1'>
    <div class = 'episode'>
      <p>e01</p>
    </div>
  </section>
  <div class = 'date'>
    <p>sun, may 26</p>
  </div>
</article>

<article class = 'new-releases__slot'>
  <section class = 'poster poster2'>
    <div class = 'episode'>
      <p>e01</p>
    </div>
  </section>
  <div class = 'date'>
    <p>tue, jun 04</p>
  </div>
</article>

<article class = 'new-releases__slot'>
  <section class = 'poster poster3'>
    <div class = 'episode'>
      <p>e01</p>
    </div>
  </section>
  <div class = 'date'>
    <p>wed, jun 12</p>
  </div>
</article>

<article class = 'new-releases__slot'>
  <section class = 'poster poster4'>
    <div class = 'episode'>
      <p>e01</p>
    </div>
  </section>
  <div class = 'date'>
    <p>sun, jun 16</p>
  </div>
</article>

<article class = 'new-releases__slot'>
  <section class = 'poster poster5'></section>
  <div class = 'date'>
    <p>thu, jun 27</p>
  </div>
</article>

<article class = 'new-releases__slot'>
  <section class = 'poster poster6'></section>
  <div class = 'date'>
    <p>fri, jul 26</p>
  </div>
</article>

<article class = 'new-releases__slot'>
  <section class = 'poster poster7'>
    <div class = 'episode'>
      <p>e01</p>
    </div>
  </section>
  <div class = 'date'>
    <p>wed, aug 28</p>
  </div>
</article>
