.dark-theme {
  --color--admin-icon: var(--color--accent-main);
  --color--cancel-button: var(--color--tertiary-light-90);
  --color--confirm-button: var(--color--secondary-light-90);
  --color--count: var(--color--primary-light-50);
  --color--delete-user--hover: var(--color--secondary-light-20);
  --color--edit-user-hover: var(--color--tertiary-light-20);
  --color--error-modal-bg: var(--color--primary-dark-70);
  --color--error-modal-border: var(--color--primary-dark-40);
  --color--error-modal-overlay: rgba(7, 8, 10, .4);
  --color--error-modal-text: var(--color--primary-light-80);
  --color--pagination-controls__button--bg--hover: var(--color--primary-dark-10);
  --color--pagination-controls__button--bg: var(--color--primary-dark-20);
  --color--pagination-controls__button--text: var(--color--primary-light-60);
  --color--username: var(--color--primary-light-80);
}

.light-theme {
  --color--admin-icon: var(--color--secondary-main);
  --color--cancel-button: var(--color--tertiary-dark-90);
  --color--confirm-button: var(--color--secondary-dark-90);
  --color--count: var(--color--primary-dark-30);
  --color--delete-user--hover: var(--color--secondary-dark-20);
  --color--edit-user-hover: var(--color--tertiary-dark-20);
  --color--error-modal-bg: var(--color--primary-light-70);
  --color--error-modal-border: var(--color--primary-light-60);
  --color--error-modal-overlay: rgba(236, 238, 240, .4);
  --color--error-modal-text: var(--color--primary-dark-80);
  --color--pagination-controls__button--bg--hover: var(--color--primary-light-50);
  --color--pagination-controls__button--bg: var(--color--primary-light-60);
  --color--pagination-controls__button--text: var(--color--primary-dark-60);
  --color--username: var(--color--primary-dark-50);
}

.delete-user-modal, .delete-media-modal {
  align-items: center;
  background-color: var(--color--error-modal-bg);
  border-radius: 10px;
  border: 3px solid var(--color--error-modal-border);
  color: var(--color--error-modal-text);
  display: flex;
  flex-direction: column;
  gap: 45px;
  height: fit-content;
  justify-content: center;
  left: 50%;
  padding: 30px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  z-index: 13;
}

.delete-user-modal h2,
.delete-media-modal h2 {
  --font: clamp(13px, 2.2rem, 24px) var(--font--graphik-semibold);
  font: var(--font);
  text-transform: uppercase;
}

.delete-user-modal p,
.delete-media-modal p {
  --font: clamp(9px, 1.6rem, 18px) var(--font--graphik-regular);
  font: var(--font);
  text-align: center;
  text-wrap: wrap;
}

.delete-user-modal p span,
.delete-media-modal p span {
  color: var(--color--secondary-main);
  font-family: var(--font--graphik-bold);
  letter-spacing: 1px;
}

.delete-user-modal__buttons,
.delete-media-modal__buttons {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  width: 100%;
}

.delete-user-modal__button,
.delete-media-modal__button {
  --font: clamp(9px, 1.4rem, 16px) var(--font--graphik-medium);
  background-color: var(--color--error-modal-button-bg);
  border-radius: 3px;
  border: none;
  color: var(--color--error-modal-button-text);
  cursor: pointer;
  font: var(--font);
  padding: 7px 15px;
  text-transform: uppercase;
  transition: .1s;
  width: fit-content;
}

.delete-user-modal__button--cancel,
.delete-media-modal__button--cancel {
  color: var(--color--cancel-button);
}

.delete-user-modal__button--cancel:hover,
.delete-media-modal__button--cancel:hover {
  background-color: var(--color--tertiary-dark-20);
}

.delete-user-modal__button--confirm,
.delete-media-modal__button--confirm {
  color: var(--color--confirm-button);
}

.delete-user-modal__button--confirm:hover,
.delete-media-modal__button--confirm:hover {
  background-color: var(--color--secondary-dark-20);
}

.delete-user-modal__overlay,
.delete-media-modal__overlay {
  background-color: var(--color--error-modal-overlay);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 12;
}

.database-user-list .section-content,
.database-media-list .section-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
}

.database-user-list .section-content ul,
.database-media-list .section-content ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  width: 100%;
}

.database-user-list .section-content ul li,
.database-media-list .section-content ul li {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.user-list__attributes,
.media-list__attributes {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}

.media-list__attributes {
  height: 120px;
}

.user-list__profile-link {
  cursor: pointer;
}

.user-list__profile-link * {
  cursor: pointer;
}

.user-list__avatar {
  border-radius: 50%;
}

.media-list__poster {
  border-radius: 2px;
}

.media-list__media-link {
  cursor: pointer;
}

.media-list__media-link * {
  cursor: pointer;
}

.user-list__info,
.media-list__info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.media-list__info {
  height: 100%;
  justify-content: flex-start;
}

.user-list__info h4,
.media-list__info h4 {
  --font: clamp(13px, 1.8rem, 24px) var(--font--graphik-semibold);
  align-items: center;
  color: var(--color--username);
  display: flex;
  font: var(--font);
  gap: 5px;
  position: relative;
  z-index: -1;
}

/* .user-list__admin-username {
  background: linear-gradient(90deg, var(--color--secondary-main), var(--color--tertiary-main));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.user-list__info h4 svg,
.media-list__info h4 svg {
  color: var(--color--admin-icon);
  height: 25px;
  left: -15px;
  top: -10px;
  width: 25px;
}

.user-list__info p,
.media-list__info p {
  --font: clamp(9px, 1.2rem, 14px) var(--font--graphik-regular);
  color: var(--color--count);
  font: var(--font);
}

.list__user-actions,
.list__media-actions {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.user-actions__edit, .user-actions__delete,
.media-actions__edit, .media-actions__delete {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  gap: 5px;
  height: 26px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transition: .2s;
  width: 26px;
}

.user-actions__edit,
.media-actions__edit {
  color: var(--color--tertiary-main);
}

.user-actions__edit:hover,
.media-actions__edit:hover {
  color: var(--color--edit-user-hover);
}

.user-actions__delete,
.media-actions__delete {
  color: var(--color--secondary-main);
}

.user-actions__delete:hover,
.media-actions__delete:hover {
  color: var(--color--delete-user--hover);
}

.user-actions__edit *, .user-actions__delete *,
.media-actions__edit *, .media-actions__delete * {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.user-list__pagination-controls,
.media-list__pagination-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pagination-controls__button {
  --font: clamp(9px, 1.4rem, 16px) var(--font--graphik-medium);
  background-color: var(--color--pagination-controls__button--bg);
  border-radius: 3px;
  border: none;
  color: var(--color--pagination-controls__button--text);
  cursor: pointer;
  font: var(--font);
  padding: 7px 15px;
  text-transform: capitalize;
  transition: .2s;
  width: fit-content;
}

.pagination-controls__button:hover {
  background-color: var(--color--pagination-controls__button--bg--hover);
}

.pagination-controls__numbers {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pagination-controls__number {
  --font: clamp(9px, 1.5rem, 16px) var(--font--graphik-light);
  color: var(--color--pagination-controls__button--text);
  font: var(--font);
  cursor: pointer;
}

.pagination-controls__number--active {
  font-family: var(--font--graphik-semibold);
}

@media (width <= 732px) {
  .user-list__admin-username {
    background: linear-gradient(90deg, var(--color--secondary-main), var(--color--tertiary-main));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .user-list__info h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
  }

  .user-list__info h4 svg {
    display: none;
  }
}

@media (width <= 676px) {
  .user-list__info h4 {
    width: 350px;
  }
}

@media (width <= 658px) {
  .delete-user-modal__buttons {
    flex-direction: column;
  }
}

@media (width <= 640px) {
  .delete-user-modal p {
    line-height: 1.5;
  }
}

@media (width <= 568px) {
  .delete-user-modal {
    width: 80%;
  }
}

@media (width <= 532px) {
  .user-list__info h4 {
    width: 250px;
  }
}

@media (width <= 418px) {
  .user-list__info h4 {
    width: 150px;
  }
}
