.dark-theme {
  --color--featured-media--outline: var(--color--secondary-main);
  --color--usp--also-available: var(--color--primary-light-80);
  --color--usp--main-text: var(--color--primary-light-90);
}

.light-theme {
  --color--featured-media--outline: var(--color--tertiary-main);
  --color--usp--also-available: var(--color--primary-dark-30);
  --color--usp--main-text: var(--color--primary-dark-20);
}

.usp {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: flex-start;
  margin-top: -195px;
  z-index: 1;
}

.usp--main-text {
  --font: 3.6rem var(--font--tiempos-headline-bold);
  color: var(--color--usp--main-text);
  display: flex;
  flex-direction: column;
  font: var(--font);
  text-align: center;
}

.usp--main-text--mobile {
  display: none;
}

/* --------------------- */

.usp--get-started-button {
  --font: 1.8rem var(--font--graphik-black);
  align-items: center;
  background-color: var(--color--secondary-main);
  border-radius: 3px;
  border: none;
  color: var(--color--primary-light-90);
  cursor: pointer;
  display: flex;
  font: var(--font);
  justify-content: center;
  padding: .7rem 3rem;
  transition: .1s;
}

.usp--get-started-button:hover {
  background-color: var(--color--secondary-dark-10);
}

/* --------------------- */

.usp--also-available {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.usp--also-available p {
  --font: 1.7rem var(--font--graphik-light);
  color: var(--color--usp--also-available);
  font: var(--font);
  text-align: center;
  text-wrap: wrap;
}

.usp--also-available--icons {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.usp--also-available--icon * {
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
}

/* ---------------------------------------------------------------- */

.featured-media {
  align-items: center;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.featured-media--slot {
  border-radius: 3px;
  transition: .04s;
}

.featured-media--slot * {
  cursor: pointer;
}

.featured-media--slot:hover {
  outline: 5px solid var(--color--featured-media--outline);
}

/* ---------------------------------------------------------------- */

.plotscore-lets-you {
  width: 100%;
}

.plotscore-lets-you .section-content {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.plotscore-lets-you--column {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width <= 1380px) {
  .usp--main-text {
    font-size: 3.4rem;
  }
}

@media (width <= 740px) {
  .usp--main-text {
    font-size: 2.8rem;
    max-width: 90%;
  }
}

@media (width <= 705px) {
  .usp--also-available {
    flex-direction: column;
  }

  .usp--also-available p {
    max-width: 85%;
  }
}

@media (width <= 510px) {
  .usp {
    margin-top: 50px;
  }

  .usp--main-text {
    max-width: 80%;
  }

  .usp--main-text--default {
    display: none;
  }

  .usp--main-text--mobile {
    display: block;
  }
}

@media (width <= 460px) {
  .usp--get-started-button {
    font-size: 1.3rem;
  }
}
