.dark-theme {
  --color--bio-and-third-row: var(--color--primary-light-40);
  --color--third-row--hover: var(--color--primary-light-90);
  --color--username: var(--color--primary-light-90);
}

.light-theme {
  --color--bio-and-third-row: var(--color--primary-dark-40);
  --color--third-row--hover: var(--color--primary-dark-90);
  --color--username: var(--color--primary-dark-90);
}

.dots__option__notification {
  --font: clamp(12px, 1.4rem, 15px) var(--font--graphik-semibold);
  background-color: var(--color--accent-main);
  border-radius: 5px;
  color: var(--color--primary-dark-70);
  font: var(--font);
  height: fit-content;
  padding: 7px 10px;
  position: fixed;
  right: -100%;
  top: 10px;
  transition: .2s;
  width: fit-content;
  z-index: 10;
}

.dots__option__notification.showed {
  right: 10px;
}

.main-info-and-stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-info-and-stats .details {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}

.main-info-and-stats .details .profile__avatar {
  border-radius: 50%;
}

.main-info-and-stats .details .details__attributes {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: center;
}

.details__attributes .first-row, 
.details__attributes .second-row,
.details__attributes .third-row {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.details__attributes .third-row {
  gap: 10px;
}

.first-row h2 {
  --font: clamp(19px, 2.4rem, 25px) var(--font--graphik-semibold);
  color: var(--color--username);
  font: var(--font);
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.first-row .dots {
  align-items: center;
  background-color: var(--color--primary-light-10);
  border-radius: 50%;
  color: var(--color--primary-light-80);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 2px;
  position: relative;
}

.first-row .dots * {
  cursor: pointer;
}

.dots svg {
  height: 16px;
  width: 16px;
}

.dots__option-wrapper {
  align-items: flex-start;
  background-color: var(--color--primary-light-10);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 100%;
  padding-block: 3px; 
  position: absolute;
  top: 20px;
  z-index: 5;
}

.dots__option {
  align-items: center;
  color: var(--color--primary-light-80);
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  padding: 5px;
  position: relative;
  text-transform: capitalize;
}

.dots__option:hover {
  background-color: var(--color--primary-dark-10);
}

.dots__option > span {
  --font: clamp(13px, 1.5rem, 17px) var(--font--graphik-medium);
  color: var(--color--primary-light-80);
  font: var(--font);
  text-wrap: nowrap;
}

.dots-option__overlay {
  cursor: default !important;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 4;
}

.details__attributes .second-row {
  --font: clamp(13px, 1.5rem, 17px) var(--font--graphik-medium);
  color: var(--color--bio-and-third-row);
  font: var(--font);
}

.second-row span {
  max-width: 620px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.details__attributes .third-row {
  --font: clamp(13px, 1.5rem, 17px) var(--font--graphik-regular);
  color: var(--color--bio-and-third-row);
  font: var(--font);
}

.third-row div {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
}

.third-row div:first-of-type span {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.third-row div:first-of-type span:hover {
  max-width: 150px;
}

.third-row div:nth-of-type(2) a {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .1s;
  white-space: nowrap;
  width: fit-content;
}

.third-row div:nth-of-type(2) a:hover {
  max-width: 440px;
}

.third-row div:nth-of-type(2) a:visited {
  color: var(--color--bio-and-third-row);
}

.third-row div:nth-of-type(2) * {
  cursor: pointer;
}

.third-row div:nth-of-type(2) a:hover {
  color: var(--color--third-row--hover) !important;
}

.third-row svg {
  height: 21px;
  width: 21px;
}

.main-info-and-stats .stats {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  height: fit-content;
  justify-content: flex-end;
}

.stats div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 50px;
  justify-content: flex-start;
}

.stats div span:first-of-type {
  --font: clamp(20px, 2.3rem, 25px) var(--font--tiempos-headline-semibold);
  color: var(--color--username);
  font: var(--font);
}

.stats div span:nth-of-type(2) {
  --font: clamp(11px, 1.2rem, 12px) var(--font--graphik-light);
  color: var(--color--bio-and-third-row);
  font: var(--font);
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (width <= 1915px) {
  .common__content.profile-page {
    --padding-inline--global: 10%;
  }
}

@media (width <= 1426px) {
  .stats div span:first-of-type {
    font-size: clamp(16px, 2rem, 20px);
  }

  .stats div span:nth-of-type(2) {
    font-size: clamp(8px, 1rem, 10px);
  }
}

@media (width <= 1420px) {
  .common__content.profile-page {
    --padding-inline--global: 5%;
  }
}

@media (width <= 1230px) {
  .main-info-and-stats {
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
  }
}

@media (width <= 1160px) {
  .common__content.profile-page {
    --padding-inline--global: 2%;
  }
}

@media (width <= 1154px) {
  .third-row div:first-of-type span {
    max-width: 70px !important;
  }

  .third-row div:first-of-type span:hover {
    max-width: 100px !important;
  }

  .third-row div:nth-of-type(2) a {
    max-width: 300px !important;
  }

  .third-row div:nth-of-type(2) a:hover {
    max-width: 350px !important;
  }
}

@media (width <= 850px) {
  .third-row div:nth-of-type(2) a {
    max-width: 200px !important;
  }

  .third-row div:nth-of-type(2) a:hover {
    max-width: 250px !important;
  }

  .third-row div:nth-of-type(2) * {
    max-width: 200px !important;
  }

  .third-row div:nth-of-type(2) a:hover {
    max-width: 250px !important;
  }
}

@media (width <= 766px) {
  .first-row h2 {
    font-size: clamp(16px, 2rem, 20px);
    max-width: 300px;
  }
}

@media (width <= 664px) {
  .first-row h2 {
    font-size: clamp(14px, 1.8rem, 16px);
    max-width: 250px;
  }
}

@media (width <= 638px) {
  .main-info-and-stats .details {
    width: 100%;
  }

  .details__attributes {
    width: 100%;
  }
}

@media (width <= 604px) {
  .details__attributes .first-row {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (width <= 500px) {
  .main-info-and-stats {
    align-items: center;
  }

  .main-info-and-stats .details {
    flex-direction: column;
    align-items: center;
  }

  .details__attributes,
  .details__attributes .first-row,
  .details__attributes .second-row,
  .details__attributes .third-row {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .details__attributes .first-row,
  .details__attributes .second-row,
  .details__attributes .third-row {
    flex-direction: column;
  }

  .third-row div:nth-of-type(2) a {
    max-width: 100px !important;
  }

  .third-row div:nth-of-type(2) a:hover {
    max-width: 150px !important;
  }

  .third-row div:nth-of-type(2) * {
    max-width: 100px !important;
  }

  .third-row div:nth-of-type(2) a:hover {
    max-width: 150px !important;
  }
}
