.dark-theme {
  --color--welcome-text: var(--color--primary-light-90);
}

.light-theme {
  --color--welcome-text: var(--color--primary-main);
}

.welcome-text {
  --font: clamp(24px, 2.7rem, 31px) var(--font--graphik-light);
  color: var(--color--welcome-text);
  font: var(--font);
  text-align: center;
  width: 100%;
}

.welcome-text * {
  color: inherit;
}

.welcome-text a {
  cursor: pointer;
  font-family: var(--font--graphik-semibold);
  text-decoration: none;
}

.section__heading-and-content.new-on-plotscore > .section-content,
.section__heading-and-content.general-activity > .section-content {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.media-slot__placeholder.empty-activity {
  height: 337px !important;
  width: 180px !important;
}

.section__heading-and-content.popular-reviews--home .section-content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.section__heading-and-content.popular-reviews--home .section-content > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
}

@media (width <= 1236px) {
  .section__heading-and-content.new-on-plotscore > .section-content,
  .section__heading-and-content.general-activity > .section-content {
    gap: 10px;
    justify-content: flex-start;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100%;
  }
}

@media (width <= 860px) {
  .welcome-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
  }

  .welcome-text a {
    max-width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
  }
}

@media (width <= 728px) {
  .welcome-text a {
    max-width: 500px;
  }
}

@media (width <= 720px) {
  .section__heading-and-content.popular-reviews--home .section-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (width <= 532px) {
  .welcome-text a {
    max-width: 350px;
  }
}

@media (width <= 398px) {
  .welcome-text a {
    max-width: 250px;
  }
}
