.dark-theme {
  --color--welcome-text: var(--color--primary-light-90);
}

.light-theme {
  --color--welcome-text: var(--color--primary-main);
}

.welcome-text {
  --font: clamp(24px, 2.7rem, 31px) var(--font--graphik-light);
  color: var(--color--welcome-text);
  font: var(--font);
  text-align: center;
  width: 100%;
}

.welcome-text * {
  color: inherit;
}

.welcome-text a {
  cursor: pointer;
  font-family: var(--font--graphik-semibold);
  text-decoration: none;
}

@media (width <= 860px) {
  .welcome-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
  }

  .welcome-text a {
    max-width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
  }
}

@media (width <= 728px) {
  .welcome-text a {
    max-width: 500px;
  }
}

@media (width <= 532px) {
  .welcome-text a {
    max-width: 350px;
  }
}

@media (width <= 398px) {
  .welcome-text a {
    max-width: 250px;
  }
}
