header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header--logo {
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  gap: .5rem;
}

.header--logo-image, .header--logo-text {
  cursor: pointer;
}

.header--logo-text {
  font: var(--font--nav-logo);
  color: var(--color--secondary-main);
}

/* ---------------------------------------------- */

.nav--links--search-bar {
  display: flex;
  align-items: center;
  justify-content: right;
  height: fit-content;
  gap: 1.5rem;
}

.nav--links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1.5rem;
}

.nav--link {
  --font: 1.4rem var(--font--graphik-black);
  font: var(--font);
  list-style: none;
  text-transform: uppercase;
  transition: .05s;
}

.nav--link * {
  color: var(--color--primary-light-70);
  text-decoration: none;
  cursor: pointer;
}

.nav--link *:hover {
  color: var(--color--primary-light-80);
}

/* ---------------------------------------------- */

.nav--search-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
}

.nav--search-bar * {
  transition: .2s;
}

.nav--search-bar input {
  --font: 1.4rem var(--font--graphik-regular);
  width: 12rem;
  height: 2.6rem;
  padding-inline: .9rem 2.8rem;
  font: var(--font);
  background-color: var(--color--neutral-dark-30);
  border: none;
  border-radius: 2rem;
  opacity: .6;
  color: var(--color--neutral-light-90);
  cursor: text;
}

.nav--search-bar input::-webkit-search-decoration,
.nav--search-bar input::-webkit-search-cancel-button,
.nav--search-bar input::-webkit-search-results-button,
.nav--search-bar input::-webkit-search-results-decoration {
  display: none;
}

.nav--search-bar input:hover {
  background-color: var(--color--neutral-light-60);
  opacity: 1;
  color: var(--color--neutral-dark-30)
}

.nav--search-bar button {
  position: absolute;
  top: 50%;
  right: .3rem;
  transform: translateY(-50%);
  height: 100%;
  background: none;
  border: none;
}

.nav--search-bar button * {
  width: 2.5rem;
  height: 1.8rem;
  color: var(--color--neutral-light-60)
}

.nav--search-bar input:hover + button * {
  color: var(--color--neutral-dark-30);
}
