.dark-theme {
  --color--primary-light-90: rgba(236, 238, 240, .5);

  --color--drop-shadow: var(--color--primary-light-90);
}

.light-theme {
  --color--primary-dark-90: rgba(7, 8, 10, .5);

  --color--drop-shadow: var(--color--primary-dark-90);
}

.main-actions-buttons {
  position: fixed;
  top: 87vh;
  right: 10vw;

  display: flex;
  align-items: center;

  gap: 1rem;
}

.main-action-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color--accent-main);
  box-shadow: 0 .1rem .3rem var(--color--drop-shadow);

  border: none;
  border-radius: 1.7rem;

  width: 5rem;
  height: 5rem;
  padding: 1rem;

  cursor: pointer;

  transition: .2s;
}

.main-action-button:hover {
  background-color: var(--color--accent-dark-10);
}

.main-action-button:active {
  transform: scale(.9);
}

.main-action-button * {
  cursor: pointer;
}

.main-action-button--icon {
  width: 100%;
  height: 100%;
}
