.dark-theme {
  --color--backdrop-edges: var(--color--primary-dark-70);
  --color--section-title: var(--color--primary-light-90);
}

.light-theme {
  --color--backdrop-edges: var(--color--primary-light-80);
  --color--section-title: var(--color--primary-dark-90);
}

.home__elements {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 100%;
}

.home__header {
  width: 100%;
}

.home__backdrop {
  height: 240px;
  object-fit: cover;
  width: 100%;
}

.home__content {
  align-items: flex-start;
  box-shadow: 0 -10px 30px 40px var(--color--backdrop-edges);
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-start;
  padding-bottom: 25px;
  padding-inline: 2%;
  width: 100%;
}

.new-releases,
.dive-back-in,
.popular-in-plotscore,
.popular-reviews {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  overflow-x: scroll;
  scrollbar-width: none;
  width: 100%;
}

.new-releases__title,
.dive-back-in__title,
.popular-in-plotscore__title,
.popular-reviews__title {
  --font: clamp(22px, 2.5rem, 27px) var(--font--graphik-semibold);
  color: var(--color--section-title);
  font: var(--font);
  text-transform: capitalize;
}

.new-releases--media-slots,
.dive-back-in--media-slots,
.popular-in-plotscore--media-slots {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  width: fit-content;
}

.popular-reviews__reviews {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: flex-start;
}
