.dark-theme {
  --color--account-form--footer: var(--color--primary-light-80);
  --color--account-form-input--bg: var(--color--primary-dark-60);
  --color--account-form-input--content: var(--color--primary-light-70);
  --color--account-form-input--placeholder: var(--color--primary-light-10);
  --color--account-form-title: var(--color--primary-light-90);
  --color--backdrop-edges: var(--color--primary-dark-70);
}

.light-theme {
  --color--account-form-input--bg: var(--color--primary-light-70);
  --color--account-form-input--content: var(--color--primary-dark-10);
  --color--account-form-input--placeholder: var(--color--primary-light-30);
  --color--account-form-title: var(--color--primary-dark-90);
  --color--backdrop-edges: var(--color--primary-light-80);
  --color--copyright: var(--color--primary-dark-70);
}

.login__elements, .signup__elements {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 100%;
}

.login__backdrop {
  height: 650px;
  object-fit: cover;
  width: 100%;
}

.signup__backdrop {
  height: 490px;
  object-fit: cover;
  width: 100%;
}

.login__content, .signup__content {
  align-items: center;
  box-shadow: 0 -10px 30px 40px var(--color--backdrop-edges);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 25px;
  width: 100%;
}

.login-content__main-content, .signup-content__main-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  padding-inline: 2%;
  width: 100%;
}

.login-content__main-content h2, .signup-content__main-content h2 {
  --font: clamp(19px, 2.4rem, 26px) var(--font--graphik-regular);
  color: var(--color--account-form-title);
  font: var(--font);
}

.account-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.account-form__input,
.account-form__button {
  border-radius: 5px;
  font-size: clamp(12px, 1.5rem, 16px);
  padding-block: 3px;
  width: 100%;
}

.username-input-container,
.email-input-container,
.password-input-container,
.confirm-password-input-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.account-form__input input::placeholder {
  font-size: clamp(13px, 1.5rem, 15px);
  color: var(--color--account-form-input--placeholder);
}

.username-input-container input[type = 'text'],
.email-input-container input[type = 'email'],
.password-input-container input[type = 'password'],
.confirm-password-input-container input[type = 'password'] {
  align-items: center;
  background-color: var(--color--account-form-input--bg);
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  color: var(--color--account-form-input--content);
  display: flex;
  font-size: clamp(13px, 1.6rem, 15px);
  justify-content: center;
  padding-block: 10px;
  padding-left: 35px;
  width: 100%;
}

.username-input-container input[type = 'text']:focus,
.email-input-container input[type = 'email']:focus,
.password-input-container input[type = 'password']:focus,
.confirm-password-input-container input[type = 'password']:focus {
  outline: none;
}

.username-input-container .username-icon,
.email-input-container .email-icon,
.password-input-container .password-icon,
.confirm-password-input-container .confirm-password-icon {
  color: var(--color--account-form-input--content);
  left: .75rem;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.account-form__button {
  align-items: center;
  color: var(--color--primary-light-90);
  display: flex;
  font-family: var(--font--graphik-semibold);
  justify-content: center;
  padding-block: 10px;
  text-decoration: none;
  text-transform: capitalize;
  transition: .1s;
}

.account-form__button:active {
  transform: scale(.95);
}

.login-button {
  background-color: var(--color--tertiary-main);
}

.signup-button {
  background-color: var(--color--secondary-main);
}

.or-divider {
  align-items: center;
  display: flex;
  gap: 35px;
  justify-content: space-between;
  width: 100%;
}

.or-divider__line {
  background-color: var(--color--primary-light-20);
  height: 1px;
  width: 100%;
}

.or-divider__text {
  --font: clamp(11px, 1.2rem, 13px) var(--font--graphik-regular);
  color: var(--color--primary-light-20);
  font: var(--font);
}

.google-button {
  --font: clamp(13px, 1.4rem, 16px) var(--font--graphik-semibold);
  align-items: center;
  background-color: var(--color--primary-light-90);
  border-radius: 5px;
  color: var(--color--primary-dark-90);
  display: flex;
  font: var(--font);
  gap: 5px;
  justify-content: center;
  padding-block: 10px;
  text-decoration: none;
  transition: .1s;
  width: 100%;
}

.google-button:active {
  transform: scale(.95);
}

.google-button img {
  height: clamp(17px, 2rem, 22px);
  width: clamp(17px, 2rem, 22px);
}

.login-content__footer,
.signup-content__footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.login-content__footer p,
.signup-content__footer p {
  --font: clamp(11px, 1.3rem, 14px) var(--font--graphik-regular);
  color: var(--color--account-form--footer);
  font: var(--font);
}

.login-content__footer p a,
.signup-content__footer p span,
.signup-content__footer p a {
  font-family: var(--font--graphik-bold);
  text-decoration: none;
  color: var(--color--account-form--footer);
}
