<script src = '../scripts/components/popular-in-plotscore.js'></script>

<link rel = 'stylesheet' href = '../styles/components/new-releases--dive-back-in--popular-in-plotscore.css' />

<article class = 'popular-in-plotscore__slot'>
  <section class = 'poster poster1'>
    <div class = 'episode'>
      <p>e08</p>
    </div>
  </section>
</article>

<article class = 'popular-in-plotscore__slot'>
  <section class = 'poster poster2'>
    <div class = 'episode'>
      <p>e07</p>
    </div>
  </section>
</article>

<article class = 'popular-in-plotscore__slot'>
  <section class = 'poster poster3'></section>
</article>

<article class = 'popular-in-plotscore__slot'>
  <section class = 'poster poster4'>
    <div class = 'episode'>
      <p>e01</p>
    </div>
  </section>
</article>

<article class = 'popular-in-plotscore__slot'>
  <section class = 'poster poster5'>
    <div class = 'episode'>
      <p>e01</p>
    </div>
  </section>
</article>

<article class = 'popular-in-plotscore__slot'>
  <section class = 'poster poster6'>
    <div class = 'episode'>
      <p>e08</p>
    </div>
  </section>
</article>

<article class = 'popular-in-plotscore__slot'>
  <section class = 'poster poster7'>
    <div class = 'episode'>
      <p>e07</p>
    </div>
  </section>
</article>

<article class = 'popular-in-plotscore__slot'>
  <section class = 'poster poster8'>
    <div class = 'episode'>
      <p>e08</p>
    </div>
  </section>
</article>

<article class = 'popular-in-plotscore__slot'>
  <section class = 'poster poster9'>
  </section>
</article>

<article class = 'popular-in-plotscore__slot'>
  <section class = 'poster poster10'></section>
</article>

<article class = 'popular-in-plotscore__slot'>
  <section class = 'poster poster11'></section>
</article>

<article class = 'popular-in-plotscore__slot'>
  <section class = 'poster poster12'>
    <div class = 'episode'>
      <p>e01</p>
    </div>
  </section>
</article>

<article class = 'popular-in-plotscore__slot'>
  <section class = 'poster poster13'></section>
</article>

<article class = 'popular-in-plotscore__slot'>
  <section class = 'poster poster14'></section>
</article>

<article class = 'popular-in-plotscore__slot'>
  <section class = 'poster poster15'></section>
</article>
